[submodule "checkouts/clj-aws-ec2"]
	path = checkouts/clj-aws-ec2
	url = git://github.com/narkisr/clj-aws-ec2.git
[submodule "checkouts/carmine"]
	path = checkouts/carmine
	url = git@github.com:narkisr/carmine.git
