{
  :riemann {
   :host "127.0.0.1"
   :port 5555
   :to ""
  }

  :re-mote {
    :port 9000
    :elasticsearch {
      :index "re-mote"
    }
  }

  :re-gent {
    :bin "/home/re-ops/re-ops/re-gent/target/re-gent"
    :resources "/home/re-ops/re-ops/re-cipes/resources/"
  }

  :re-core {
    :queue-dir "/tmp/re-core-queue/"

    :port 8082
    :https-port 8443

    :log {
      :level :info
      :path "re-core.log"
    }

    :hypervisor #profile {
      :dev {
        :physical { }
        :aws {
           :access-key #ref [:secrets :aws :access-key]
           :secret-key #ref [:secrets :aws :secret-key]
           :ostemplates {
              :ubuntu-20.04 {:ami "" :flavor :debian}
           }
        }

        :kvm {
          :nodes {
            :localhost {
              :username "re-ops" :host "localhost" :port 22
              :pools {
                 :default {:path "/var/lib/libvirt/images/"}
              }
            }
          }
          :ostemplates {
            :ubuntu-20.04 {:template "ubuntu-20.04_corretto-8" :flavor :debian}

          }
        }

        :digital-ocean {
          :token #ref [:secrets :digital-ocean :token]
          :ssh-key ""
            :ostemplates {
               :ubuntu-20.04  {:image "" :flavor :debian}
            }
        }

        :lxc {
          :auth {
             :path #join [#env HOME "/snap/lxd/current/.config/lxc"]
             :p12 "certificate.p12"
             :password #ref [:secrets :lxc :pass]
             :crt "127.0.0.1.crt"
           }

          :nodes {
             :localhost {
                :host "127.0.0.1" :port 8443
             }
          }

          :ostemplates {
            :ubuntu-20.04 {:template "ubuntu-20.04_corretto-8" :flavor :debian}
          }
         }
       }
    }

    :elasticsearch {
      :index "re-core"
    }
  }


  :secrets #include #join "/tmp/secrets.edn"

  :shared {
    :watch []
    :elasticsearch {
      :default {
        :hosts ["https://localhost:9200"]
        :auth {
          :user "elastic"
          :password #ref [:secrets :elasticsearch :password]
         }
         :self? true
      }
    }

    :ssh {
      :private-key-path "/home/re-ops/.ssh/id_rsa"
    }

    :pgp {
      :public "keys/public.gpg"
      :private "keys/secret.gpg"
      :pass #ref [:secrets :pgp :pass]
    }

    :email {
      :to "narkisr@gmail.com" :from "gookup@gmail.com"
    }

    :smtp {
      :host "smtp.gmail.com"   
      :user ""  
      :pass #ref [:secrets :smtp :pass]
      :ssl :yes!!!11
    }

  }
}
