{% extends "celestial/views/templates/base.html" %}

{% block content %}

<div class="bs-example">
  <table class="table">
    <thead>
	<tr>
	  <th>#</th>
	  <th>Hostname</th>
	  <th>Type</th>
	  <th>Hypervisor</th>
	</tr>
    </thead>
    <tbody>
	{% for system in systems %}
       <tr>
	   <td>{{system.id}}</td>
	   <td>{{system.hostname}}</td>
	   <td>{{system.type}}</td>
	  <td>{{system.hypervisor}}</td>
	  <td>{{system.description}}</td>

	</tr>
	{% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
