{% extends "celestial/views/templates/base.html" %}

{% block content %}

<div>
  <h2>Systems:</h2>
  <table class="table table-striped table-bordered" >
    <thead>
	<tr>
	  <th>#</th>
	  <th>Hostname</th>
	  <th>Type</th>
	  <th>Hypervisor</th>
	  <th>Description</th>
	</tr>
    </thead>
    <tbody data-provides="rowlink">
	{% for system in systems %}
       <tr class="rowlink">
         <td><a href="javascript.html#{{system.id}}">{{system.id}}</a></td>
	   <td>{{system.hostname}}</td>
	   <td>{{system.type}}</td>
	  <td>{{system.hypervisor}}</td>
	  <td>{{system.description}}</td>
	</tr>
	{% endfor %}
    </tbody>
  </table>
  <div class="pagination">
  <ul>
   {% if pages.prev %} 
     <li><a href="/view/systems?from={{pages.prev.from}}&to={{pages.prev.to}}">&laquo;</a></li> 
   {% endif %}

   {% for page in pages.items %}
       <li><a href="/view/systems?from={{page.from}}&to={{page.to}}">{{page.pos}}</a></li>
   {% endfor %}

   {% if pages.next %} 
     <li><a href="/view/systems?from={{pages.next.from}}&to={{pages.next.to}}">&raquo;</a></li> 
   {% endif %}
 </ul>
 </div>
</div>

{% endblock %}
