; see http://celestial-ops.com/posts/configuration.html
{
 :celestial {
   :port 8082
   :https-port 8443
   :log {
     :level :info
     :path "/var/log/celestial.log"
     ;; :gelf{
     ;;   :host "1.2.3.4"
     ;;   :type :kibana3 ; :kibana4/:gralog2/:logstash
     ;; }
   }

   ;; :job {
   ;;    :expiry 30
   ;;    :wait-time 5
   ;; }

   :cert {
     :password "foobar" 
     :keystore "foo.keystore"
   }

   ;; :nrepl {
   ;;    :port 7888
   ;;  }
 }

 :hypervisor {
   :dev {
   ;;  :proxmox {
   ;;    :master :proxmox-a
   ;;    :nodes {
   ;;       :proxmox-a {:username "root" :password "foobar" :host "localhost" :ssh-port 22222}
   ;;    }
   ;;    :ostemplates {
   ;;       :ubuntu-12.04 {:template "local:vztmpl/ubuntu-12.04-puppet_3-x86_64.tar.gz" :flavor :debian}
   ;;     }
   ;;    :generators {
   ;;      :ip-range []
   ;;      :used-ips []
   ;;    }
   ;; }
   ;; :aws {
   ;;   :access-key ""
   ;;   :secret-key ""
   ;;   :ostemplates {
   ;;        :ubuntu-12.10 {:ami "" :flavor :debian}
   ;;        :centos-6.4 {:ami "" :flavor :redhat}
   ;;   }
   ;;  } 

   ;; :vcenter {
   ;;   :url "https://1.2.3.4/sdk"
   ;;   :username ""
   ;;   :password ""
   ;;   :ostemplates {
   ;;      :ubuntu-13.04 "ubuntu-13.04_puppet-3.2"
   ;;   }
   ;;
   ;;   :guest-timeout 120 ; at least boot time
   ;;   :session-count 2
   ;; }
    
   ;; :physical { }
  }
 }
  
 :redis {
   :host "localhost"
 } 

 :elasticsearch {
   :path.data "/var/lib/es/data/"
   :path.work "/var/lib/es/work/"
 }

 :ssh {
   :private-key-path "/home/user/.ssh/id_rsa"
 }

 :hooks {
   ;; hooks.hubot/notify-hubot {
   ;;      :hubot-host "http://1.2.3.4:8083" 
   ;; }
   ;; hooks.dnsmasq/update-dns {
   ;;      :dnsmasq "1.2.3.4" :user "" :domain ""
   ;; }
   ;; hooks.tinymasq/update-dns {
   ;;   :tinymasq "https://192.168.1.10:8444" :user "admin" :password "changeme" :domain "local"
   ;; }

 }
}
