{
 :celestial {
   :port 8082
   :https-port 8443
   :log {
     :level :info
     :path "/var/log/celestial.log"
     :gelf-host "1.2.3.4"
   }

   ;; :job {
   ;;    :expiry 30
   ;;    :wait-time 5
   ;; }

   :cert {
     :password "foobar" 
     :keystore "foo.keystore"
   }

   ;; :nrepl {
   ;;    :port 7888
   ;;  }
 }

 :hypervisor {
   ;;  :proxmox {
   ;;    :username "root" :password "foobar" :host "localhost" :ssh-port 2222
   ;;    :ostemplates {
   ;;       :ubuntu-12.04 "local:vztmpl/ubuntu-12.04-puppet_3-x86_64.tar.gz"
   ;;     }
   ;;    :generators {
   ;;      :ip-range []
   ;;      :used-ips []
   ;;    }
   ;; }
   ;; :aws {
   ;;   :access-key ""
   ;;   :secret-key ""
   ;;  } 

   ;; :vcenter {
   ;;   :url "https://1.2.3.4/sdk"
   ;;   :username ""
   ;;   :password ""
   ;;   :ostemplates {
   ;;      :ubuntu-13.04 "ubuntu-13.04_puppet-3.2"
   ;;   }
   ;;   :session-count 2
   ;; }
 }
  
 :redis {
   :host "localhost"
 } 

 :ssh {
   :private-key-path "/home/user/.ssh/id_rsa"
 }

 :hooks {
   ;; hooks.hubot/notify-hubot {
   ;;      :hubot-host "http://1.2.3.4:8083" 
   ;; }
   ;; hooks.dnsmasq/update-dns {
   ;;      :dnsmasq "1.2.3.4" :user "" :domain ""
   ;; }
 }
}
