; see http://celestial-ops.com/posts/configuration.html
{
 :celestial {
   :port 8082
   :https-port 8443
   :log {
     :level :info
     :path "/var/log/celestial.log"
     ;; :gelf{
     ;;   :host "1.2.3.4"
     ;;   :type :kibana3 ; :kibana4/:gralog2/:logstash
     ;; }
   }

   ;; :job {
   ;;    :expiry 30
   ;;    :wait-time 5
   ;; }

   :cert {
     :password "foobar"
     :keystore "foo.keystore"
   }

   ;; :nrepl {
   ;;    :port 7888
   ;;  }
 }

 :hypervisor {
   :dev {
   ;; :aws {
   ;;   :access-key ""
   ;;   :secret-key ""
   ;;   :ostemplates {
   ;;        :ubuntu-12.10 {:ami "" :flavor :debian}
   ;;        :centos-6.4 {:ami "" :flavor :redhat}
   ;;   }
   ;;  }
   ;; :physical { }
  }
 }

 :redis {
   :host "localhost"
 }

 :elasticsearch {
   :host "localhost"
   :port 9300
   :cluster "elasticsearch"
 }

 :ssh {
   :private-key-path "/home/user/.ssh/id_rsa"
 }

 :hooks {
   ;; hooks.hubot/notify-hubot {
   ;;      :hubot-host "http://1.2.3.4:8083"
   ;; }
   ;; hooks.dnsmasq/update-dns {
   ;;      :dnsmasq "1.2.3.4" :user "" :domain ""
   ;; }
   ;; hooks.tinymasq/update-dns {
   ;;   :tinymasq "https://192.168.1.10:8444" :user "admin" :password "changeme" :domain "local"
   ;; }

 }
}
